.margin-top {
    margin-top: 20px;
}


#infos-container {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

/* View details link */
span.student-details {
    color: blue;
}

span.student-details:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Separation line */
.line{
    border-bottom: 6px solid #e9ecef;
}

.architecture-header {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
/*  */

.no-architecture-txt {
    margin-left: 20px;
}
/* Forms */
.form-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Center title of the page*/

#plugin-title {
    text-align: center;
    margin-bottom: 50px;
}

/* Number of results found text */
#no-trainings {
    margin-bottom: 1%;
    font-weight: bold;
    text-align: center;
}

#number-students {
    margin-bottom: 1%;
    font-weight: bold;
}

/* 2nd form, hidden by default (trainings of the cohort) */
#hidden-form, #hidden-form-2 {
    display: none;
}

/* Activity tables */
.activity-table {
    border-collapse: collapse;
    border: 3px solid #ccc;
}

.activity-table td,
.activity-table th {
    border: 3px solid #ccc;
    padding: 8px;
    text-align: center;
}

/* Drop down sections and title */
details {
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
    margin-bottom: 15px;
}

.block-section,
.module-section,
.course-section {
    padding: 10px;
}

.block-title {
    font-size: 20px; 
    font-weight: bold;
}

.module-title {
    font-size: 17px;
}

.course-title {
    font-size: 15px; 
}

/* Completion images */
.img-completion {
    width: 20px;
    height: 20px;
}

/* Export forms */

.export-student {
    display: none;
}

.export-cohort {
    display: none;
}